* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-1: #FFD4D4;
    --color-2: #FFFFE8;
    --color-3: #CDE990;
    --color-4: #AACB73;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-1: #2E0249;
    --color-2: #570A57;
    --color-3: #A91079;
    --color-4: #F806CC;
  }
}