* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-1: #ffd4d4;
    --color-2: #ffffe8;
    --color-3: #cde990;
    --color-4: #aacb73;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-1: #2e0249;
    --color-2: #570a57;
    --color-3: #a91079;
    --color-4: #f806cc;
  }
}
