* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-1: #ffd4d4;
    --color-2: #ffffe8;
    --color-3: #cde990;
    --color-4: #aacb73;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-1: #3f3b6c;
    --color-2: #624f82;
    --color-3: #9f73ab;
    --color-4: #a3c7d6;
  }
}
